<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <h1>Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <h1><small>Stats</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <form class="form-inline">
            <label for="table_filter_language" class="control-label">Language</label>
            <select class="form-control" id="table_filter_language">
                <option>All</option>
            </select>
            <label for="table_filter_name" class="control-label">Name</label>
            <input type="text" id="table_filter_name" ng-model="assignment_name"/>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Language</th>
                <th>Created</th>
                <th>Submission count</th>
                <th>Suspected files</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in tableData | filter:assignment_name">
                <td>{{item.assignment.name}}</td>
                <td>{{item.assignment.lang}}</td>
                <td>{{item.assignment.createdOn}}</td>
                <td>{{item.count}}</td>
                <td>{{item.suspected}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <h1><small>Assignments count</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-sm-8 col-md-8">
        <canvas id="dashboard_chart" class="chart chart-line" data="data" labels="labels" series="series" ></canvas> 
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <form>
            <div class="form-group">
                <label for="dashboard_lang_select" class="control-label">Languages</label>
                <select class="form-control" id="dashboard_lang_select">
                    <option>All</option>
                </select>
            </div>
        </form>
    </div>
    
</div>


